[submodule "services/auth"]
	path = services/auth
	url = https://github.com/placeos/auth.git
[submodule "services/core"]
	path = services/core
	url = https://github.com/placeos/core.git
[submodule "services/rest-api"]
	path = services/rest-api
	url = https://github.com/placeos/rest-api.git
[submodule "clients/typescript"]
	path = clients/typescript
	url = https://github.com/placeos/ts-client.git
[submodule "services/triggers"]
	path = services/triggers
	url = https://github.com/placeos/triggers.git
[submodule "services/source"]
	path = services/source
	url = https://github.com/placeos/source.git
[submodule "services/rubber-soul"]
	path = services/rubber-soul
	url = https://github.com/placeos/rubber-soul.git
[submodule "services/dispatch"]
	path = services/dispatch
	url = https://github.com/placeos/dispatch.git
[submodule "services/frontends"]
	path = services/frontends
	url = https://github.com/placeos/frontends.git
[submodule "clients/crystal"]
	path = clients/crystal
	url = https://github.com/placeos/crystal-client.git
[submodule "services/nginx"]
	path = services/nginx
	url = https://github.com/placeos/nginx.git
[submodule "services/init"]
	path = services/init
	url = https://github.com/placeos/init.git
[submodule "services/edge"]
	path = services/edge
	url = https://github.com/placeos/core.git
[submodule "interfaces/backoffice"]
	path = interfaces/backoffice
	url = https://github.com/placeos/backoffice.git
